*{
    margin: 0px;
}

.request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    text-align: center;
}

.user-image{
    justify-content: center;
    justify-items: center;
    border-radius: 100%;
    width: 10%;
    height: 10%;
    margin: 5% 1%;
}

.pull-body{
    overflow: scroll;
    padding-top: 3vh;
    height: 200px;
    text-align: left;
    margin-top: 3vh;
}
.span-bold{
    font-weight: bold;
}
.user-data{
    justify-content: center;
}