* {
  margin: 0px;
}

.request {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  width: 90%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

.user-image {
  justify-content: center;
  justify-items: center;
  border-radius: 100%;
  width: 40%;
  height: 40%;
  margin: 5% 1%;
}

.pull-body {
  overflow: scroll;
  padding-top: 3vh;
  height: 200px;
  text-align: left;
  margin-top: 3vh;
}
.span-bold {
  font-weight: bold;
}
.user-data {
  justify-content: center;
}
