.repository {
  width: 70%;
  display: flex;
  border-bottom: 1px solid darkgrey;
  font-size: 16px;
  padding: 1vh 0;
  margin: 1vh;
  justify-content: center;
  border-radius: 1px solid;

  .info-name {
    font-weight: bold;
    font-size: 17px;
  }

  .image-container {
    display: flex;
    width: 15vw;
    height: 25vh;
    padding-right: 2vw;
    text-align: center;

    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      border-radius: 10px;
    }
    @media only screen and (max-device-width: 360px) {
      .image-container {
        width: 100%;
        height: 100%;
      }
      width: 20%;
      height: 20%;
      width: 20vw;
      height: 10vh;
      border-radius: 100px;
    }
  }

  .itens {
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 10px;

    .item {
      width: 100%;
      height: 10vh;
      text-align: right;
      margin: 0;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      padding-left: 1vh;

      @media only screen and (max-device-width: 640px) {
        height: 2vh;
      }
      .users {
        flex-flow: row wrap;
      }

      .fork,
      .favorite {
        width: 15px;
        height: 15px;
      }

      .forks {
        margin-right: 0;
      }

      .users {
        text-align: left;
      }

      .features {
        flex-flow: row wrap;
        text-align: right;
      }
    }

    .info {
      min-height: 50px;
      width: 100%;
      padding-left: 1vh;
      text-align: left;
      overflow: scroll;
    }
    @media only screen and (max-device-width: 360px) {
      .item {
        width: 10%;
        padding-bottom: 50px;
      }
    }
  }
}
